<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1029812079354-nfm7gjbcf3u1fcl6sdttv6gb9gim0qv3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1029812079354-nfm7gjbcf3u1fcl6sdttv6gb9gim0qv3</string>
	<key>API_KEY</key>
	<string>AIzaSyAWPl7xn8L2uoXyoEm1H_dhiMsKp9mIEdk</string>
	<key>GCM_SENDER_ID</key>
	<string>1029812079354</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.teodor.swifties</string>
	<key>PROJECT_ID</key>
	<string>photofeeler-b47c8</string>
	<key>STORAGE_BUCKET</key>
	<string>photofeeler-b47c8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1029812079354:ios:c3d33b496fc274bda35743</string>
	<key>DATABASE_URL</key>
	<string>https://photofeeler-b47c8-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>